@import url("../../index.css");

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-error {
    height: 3rem ;
    background-color: rgb(195, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    width: 99%;

    margin: 1rem ;
}

.cross {
    display: flex ;
    height: 100%;
}

.cross:hover {
    cursor: pointer;
}

.login-container {
    position: relative;
    overflow: hidden;
    padding: 3rem;
    width: 40%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(255, 255, 255, 0.1) inset;
    border-radius: 10px;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.login-container:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4), 0px 6px 10px rgba(255, 255, 255, 0.15) inset;
    transform: scale(1.04);
}

.login-form-container {
    width: 100%;
    gap: 1rem;
}

.login-input {
    width: 100%;
    font-size:17px ;
    padding: 0.5rem 0 0.5rem 1rem;
    outline: none;
    font-family: var(--secondary-font-family);
    border-radius: 1rem;
}

.login-btn {
    background-color: var(--bg-color);
    transition: all 0.3s ease;
}

.login-btn:hover {
    cursor: pointer;
    color: white;
}

.partition {
    margin: 1rem ;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: gainsboro;
    font-weight: bold;
}
  
.partition::before,
.partition::after {
    content: "";
    flex: 1;
    border-top: 2px solid gainsboro;
    margin: 0 10px;
  }