@import url("../../index.css");

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    padding: 4vw 0 0 0;
    gap: 1rem;
}

.form-input{
    font-size: var(--primary-font-size);
    padding: 1vw;
    width: 60vw;
    border-radius: 1vw;
    outline: none;
}

.form-btn {
    font-size: var(--primary-font-size);
    padding: 0 2vw 0 2vw ;
    border-radius: 1rem;
    color: var(--primary-font-color);
    background-color: var(--bg-color);
}

.form-btn:hover {
    cursor: pointer;
}

.output {
    font-size: 18px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output_img {
    height: 15vh;
}