.profile-container {
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.profile-id {
    color: var(--bg-color);
}

.profile-list {
    width: 80%;
    text-align: center;
    margin-top: 2rem;
}

.tweet-col {
    width: 70%;
}

th {
    font-size: 20px;
    padding-bottom: 1rem;
}

td {
    padding: 1rem;
}

.row-data {
    box-shadow: 2px 2px 14px rgba(218, 213, 213, 0.3);
}