@import url("../../index.css");

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 3rem 0;
}

.heading {
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.content-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 50vw;
}

.content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 40vh;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .content-body {
        flex-direction: column;
    }

    .content {
        font-size: 12px;
    }
}
  