.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    border: 2px solid blue;
    height: 45vh;
}



.meter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 80vh;
}



.outer-circle{
    height: 100%;
    width: 100%;
    background-image: url("meter.png");
    border: 2px solid red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .container , .meter{
        width: 40vh;
        aspect-ratio: 1;
    }
        
}

.inner-circle{
    transform: translateY(13vh);
    background: var(--primary-bg-color);
}

.needle{
    height: 4vh;
    width: 2.5vw;
    background-color: #bbb;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

.needle::before{
    content: "";
    transform: translateY(-5vh);
    position: absolute;
    width: 1.5vw;
	height: 13vh;
	background-color: #bbb;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    border-radius: 0 0 20px 20px;
}

.needle::after{
    content: "";
    position: absolute;
    height: 1.3vh;
    width: 1.1vw;
    background-color: #6d6d6d;
    border-radius: 50%;
}

.center{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

