@import url("../../index.css");

.header-container {
    display: flex;
    padding: 1rem 0 1rem 0;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    width: 100%;
    border:  2px solid white;
}

.logo-container {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: start; */
    /* padding: 0 0 0 6rem; */
    height: 10vh;
    /* width: 40vw; */
}

.img-container {
    width: 4rem;
    height: 10vh;
}

.links-container {
    display: flex;
    font-family: var(--font-family) ;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    gap: 2rem;
    /* padding: 0 6rem 0 0 ; */
    /* width: 60vw; */
}

.links-container :hover {
    cursor: pointer;
}


.link {
    text-decoration: none;
    color: var(--primary-font-color);
}

.active-link {
    color: var(--bg-color);
    padding: 0 0 0.25rem 0 ;
    border-bottom: 4px solid white;
    border-radius: 0.25rem;
}


.header-child{
    display: flex;
    align-items: center;
    gap: 70vw;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header-child{
      gap:45vw;
    }
  }