@import url("../../index.css");

.header-container {
    display: flex;
    padding: 1rem 0 1rem 0;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    width: 100%;
}

.header-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}


.logo-container {
    height: 10vh;
}

.img-container {
    width: 4rem;
    height: 10vh;
}

.links-container {
    display: flex;
    font-family: var(--font-family) ;
    align-items: center;
    gap: 2rem;
}

.links-container :hover {
    cursor: pointer;
}


.link {
    text-decoration: none;
    color: var(--primary-font-color);
}

.active-link {
    color: var(--bg-color);
    padding: 0 0 0.25rem 0 ;
    border-bottom: 4px solid white;
    border-radius: 0.25rem;
}



@media (max-width: 768px) {    
    .links-container {
        gap: 1rem;
    }
}