@import url("../../index.css");

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reset {
    height: 3rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    width: 99vw;
    margin: 1rem ;
}

.failure {
    background-color: var(--failure) ;
}

.success {
    background-color: var(--success) ;
}

.cross {
    display: flex ;
    height: 100%;
}

.cross:hover {
    cursor: pointer;
}

.form-container {
    position: relative;
    overflow: hidden;
    padding: 3rem;
    width: 40vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(255, 255, 255, 0.1) inset;
    border-radius: 10px;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.form-container:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4), 0px 6px 10px rgba(255, 255, 255, 0.15) inset;
    transform: scale(1.04);
}

.reset-form-container {
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
}

.reset-input {
    width: 100vw;
    font-size:17px ;
    padding: 0.5rem 0 0.5rem 1rem;
    outline: none;
    font-family: var(--secondary-font-family);
    border-radius: 1rem;
}

.reset-btn {
    padding: 0.5rem 0 0.5rem 0;
    background-color: var(--bg-color);
    transition: all 0.3s ease;
}